@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  background: #3dbbf1;
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins";
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .gif {
    width: 8rem;
  }

  .text {
    margin-top: 0.5rem;
    font-weight: 600;
  }
}
